/* Base styles */
:root {
    --primary-color: #6c65ff;
    --text-color: #171717;
    --text-secondary: #908f8f;
    --border-color: #d1d4ff;
  }
  

  body {
    overflow-x: hidden;

  }

  .name-banner {
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
    z-index: -1;
    pointer-events: none;
  }
  
  .banner-text {
    display: inline-block;
    font-size: 200px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Public Sans", sans-serif;
    color: #000;
    white-space: nowrap;
    min-width: 200%;
    animation: scrollBanner 50s linear infinite;
  }
  
  @keyframes scrollBanner {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @media (max-width: 768px) {
    .banner-text {
      font-size: 80px;
      position: relative;
      top: -320px;
      transform: translateY(0); 

    }
  }

